In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
import wrangle

In [3]:

df = pd.read_csv('student_grades.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   student_id   104 non-null    int64
 1   exam1        103 non-null    float64
 2   exam2        104 non-null    int64
 3   exam3        104 non-null    object
 4   final_grade  104 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 4.2+ KB

In [5]:
df = wrangle.wrangle_grades()

In [6]:
df.head()

   exam1  exam2  exam3  final_grade
0    100     90     95           96
1     98     93     96           95
2     85     83     87           87
3     83     80     86           85
4     93     90     96           97

In [7]:
train_and_validate, test = train_test_split(df, random_state=123)
train, validate = train_test_split(train_and_validate, random_state=123)

In [8]:
X_train = train.drop(columns='final_grade')
y_train = train[['final_grade']]

X_validate = validate.drop(columns="final_grade")
y_validate = validate[["final_grade"]]

X_test = test.drop(columns='final_grade')
y_test = test[['final_grade']]

In [9]:
#scale our data

In [10]:
import sklearn.preprocessing

In [11]:
scaler = sklearn.preprocessing.MinMaxScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [13]:
y_train.head()

    final_grade
10           68
15           87
42           85
51           72
46           76

In [15]:
from sklearn.linear_model import LinearRegression, LassoLars
from sklearn.preprocessing import PolynomialFeatures

In [16]:
#Create a baseline

In [17]:
baseline = y_train.mean()
print(baseline)

final_grade    81.631579
dtype: float64

In [18]:
#Feature Elimination

In [19]:
# Initialize the Linear Regression Object 
lm = LinearRegression()

rfe = RFE(lm, 2)

# Transforming data using RFE
X_rfe = rfe.fit_transform(X_train,y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
# Get a list of the features we have selected

In [21]:
# boolean mask for each variable of whether it was selected or not. 
mask = rfe.support_

# select the column names of the features that were selected and convert them to a list for future use. 
rfe_features = X_train.columns[mask]

# print them out here for our reference
print(f'selected {len(rfe_features)} features:', ', '.join(rfe_features))

selected 2 features: exam1, exam3

In [22]:
#Multiple linear regression model

In [24]:
lm = LinearRegression()
lm.fit(X_rfe, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
print("Linear Model:", lm)

print("intercept: ", lm.intercept_)

print("features: ", rfe_features)
print("coefficients: ", lm.coef_)

Linear Model: LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
intercept:  [12.14476092]
features:  Index(['exam1', 'exam3'], dtype='object')
coefficients:  [[0.59343236 0.27423512]]

In [26]:
#Get the predicted values

In [27]:
y_train['yhat_lm'] = lm.predict(X_rfe)

y_train.head()

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    final_grade    yhat_lm
10           68  65.760296
15           87  86.444967
42           85  84.983867
51           72  75.075365
46           76  76.032957